	@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900);

@media screen and (min-width: 1301px) {
	body{
	background-image: url("background.svg");
		background-size: cover;
		background-attachment: fixed;
	margin: 0px;
	}
	
    .menu{
        color: #ec008c;
		font-weight: bold;
		font-size: 13px;
		letter-spacing: 6.7px;
		font-family: "Helvetica";
		position: top;
      }
	
	.side{
		position: fixed;
	}
	
	.imgtext1{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext2{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext3{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext4{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.img1{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img2{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img3{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img4{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img1:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img2:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img3:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img4:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox1:hover .imgtext1{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox2:hover .imgtext2{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox3:hover .imgtext3{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox4:hover .imgtext4{
		opacity: 1;
		transition: all 0.5s;
	}
	
	
	.hoverimg{
		transform: scale(1.0);
		transition: all 0.5s;
	}
	.hoverimg:hover{
		transform: scale(1.1);
		transition: all 0.5s;
	}
	
	.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:80%;
	height:60%;
	}
	
	/*Podział na page-1 i page-2 jest dlatego, że niektóre podstrony miały inne tło od innych w poprzednich zadaniach domowych. Na wszelki wypadek zostawiam to tak jak było, żeby można było szybko wrócić do poprzedniego efektu*/
	.page-1{
		/*
		background-image: url("background.svg");
		background-size: cover;
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	 
	.page-2{
		/*
		background: rgb(24,4,33);
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	  
	 h1{
	    color: #ec008c;
		font-size: 28px;
		letter-spacing: 4.5px;
		font-family: "Open Sans";
		text-align: right;
		margin-right: 50px;
		font-weight: bolder;
	 }
	 
	.muzycy{
		height: 20vh; 
		width: 25%; 
		text-align: center; 
		display: flex;  
		flex-wrap: wrap;   
		flex-direction: column; 
		justify-content: center
	}
	
	.svgicon{
		fill: rgb(159,0,101);
		transition: all 0.5s;
	}	
	
	.svgicon:hover{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	
	
	.svgicon:focus{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	
	
	a:link {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:visited {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:hover {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
		}
	
	a:focus {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
	} 
	
	.bolded {
		color: rgb(204,200,255);
		font-size: 18px;
		font-weight: bold;
	}
	
	.bolded2 {
		color: rgb(204,200,255);
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 4.5px; 
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.text-about{
		color: rgba(204,200,255,0.8);
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		width: 20%;
		height: auto;
		border: 20px;
		border-color: rgb(37,7,46);
		margin-left: 35%;
		background: rgb(37,7,46);
		position: relative;
		bottom: 200px;
		padding: 30px;
	}	
	
	.instruments{
		color: rgba(204,200,255,0.8);
		font-size: 13px;
		letter-spacing: 3px;
		font-family: "Open Sans";
		line-height: 25px;
		text-align: left;
		font-weight: normal;
	}
	.text-concerts{
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 3.5px;
		font-family: "Open Sans";
	}	
	
	.text-contact{
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		line-height: 25px;
		font-family: "Open Sans";
	}	
	
	.koncerty{
	
	}
	
	address{
		position: absolute;
		bottom: 75px;
		display: flex;  
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	.side{
		min-height: 100vh;
		margin: 30px;
		box-sizing: content-box;
	}
	
	.r25{
		margin-left: 25%;
	}
	
	.r30{
		margin-left: 30%;
	}
	
	.r40{
		margin-left: 40%;
	}
	
	.home{
		position: absolute;
		margin-top: 10%;
		margin-bottom: 10%;
		box-sizing: content-box;
		font-family: "Open Sans";
	}
	
	.pink1{
		box-shadow: 0px -5px #ec008c;
	}
	
	.pink2{
		box-shadow: 0px 5px #ec008c;
	} 
	
	.przycisk{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(52,31,67);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:hover{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111); 
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:active{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.25s;
	}
	
	.przycisk:focus{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: #ccc8ff;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.formularz{
		background-color: rgb(68,40,87); /*Tu również kolor jest jaśniejszy*/
		padding: 4px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
	
		
	.formularz:focus{
		background-color: rgb(85,51,111); /*Tu również kolor jest jaśniejszy*/
		padding: 3px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
	
	.concert-flex{
		display: flex;  
		flex-wrap: wrap; 
		justify-content: flex-end; 
		align-content: space-between;
	}
	
	.w35{
		width: 35%;
	}
}

@media screen and (min-width: 1001px) and (max-width: 1301px) {
	body{
	background-image: url("background.svg");
		background-size: cover;
		background-attachment: fixed;
	margin: 0px;
	}
	
    .menu{
        color: #ec008c;
		font-weight: bold;
		font-size: 13px;
		letter-spacing: 6.7px;
		font-family: "Helvetica";
		position: top;
      }
	
		
	.imgtext1{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext2{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext3{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext4{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.img1{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img2{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img3{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img4{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img1:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img2:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img3:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img4:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox1:hover .imgtext1{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox2:hover .imgtext2{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox3:hover .imgtext3{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox4:hover .imgtext4{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.hoverimg{
		transform: scale(1.0);
		transition: all 0.5s;
	}
	.hoverimg:hover{
		transform: scale(1.1);
		transition: all 0.5s;
	}
	
	.side{
		position: fixed;
	}
	
	.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:80%;
	height:60%;
	}
	
	/*Podział na page-1 i page-2 jest dlatego, że niektóre podstrony miały inne tło od innych w poprzednich zadaniach domowych. Na wszelki wypadek zostawiam to tak jak było, żeby można było szybko wrócić do poprzedniego efektu*/
	.page-1{
		/*
		background-image: url("background.svg");
		background-size: cover;
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	 
	.page-2{
		/*
		background: rgb(24,4,33);
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	  
	 h1{
	    color: #ec008c;
		font-size: 28px;
		letter-spacing: 4.5px;
		font-family: "Open Sans";
		text-align: right;
		margin-right: 50px;
		font-weight: bolder;
	 }
	 
	.muzycy{
		height: 20vh; 
		width: 25%; 
		text-align: center; 
		display: flex;  
		flex-wrap: wrap;   
		flex-direction: column; 
		justify-content: center
	}
	
	.svgicon{
		fill: rgb(159,0,101);
		transition: all 0.5s;
	}	
	
	.svgicon:hover{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	
	
	.svgicon:focus{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	
	
	a:link {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:visited {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:hover {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
		}
	
	a:focus {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
	} 
	
	.bolded {
		color: rgb(204,200,255);
		font-size: 15px;
		font-weight: bold;
	}
	
	.bolded2 {
		color: rgb(204,200,255);
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 4.5px; 
		text-align: left
	}
	
	.text-about{
		color: rgba(204,200,255,0.8);
		font-size: 11px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		width: 30%;
		height: auto;
		border: 220px;
		border-color: rgb(37,7,46);
		margin-left: 35%;
		background: rgb(37,7,46);
		position: relative;
		bottom: 150px;
		padding: 25px;
	}	
	
	.instruments{
		color: rgba(204,200,255,0.8);
		font-size: 13px;
		letter-spacing: 3px;
		font-family: "Open Sans";
		line-height: 25px;
		text-align: left;
		font-weight: normal;
	}
	.text-concerts{
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 3.5px;
		font-family: "Open Sans";
	}	
	
	.text-contact{
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		line-height: 25px;
		font-family: "Open Sans";
	}	
	
	.koncerty{
	
	}
	
	address{
		position: absolute;
		bottom: 75px;
		display: flex;  
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	.side{
		min-height: 100vh;
		margin: 30px;
		box-sizing: content-box;
	}
	
	.r25{
		margin-left: 25%;
	}
	
	.r30{
		margin-left: 30%;
	}
	
	.r40{
		margin-left: 40%;
	}
	
	.home{
		position: absolute;
		margin-top: 10%;
		margin-bottom: 10%;
		box-sizing: content-box;
		font-family: "Open Sans";
	}
	
	.pink1{
		box-shadow: 0px -5px #ec008c;
	}
	
	.pink2{
		box-shadow: 0px 5px #ec008c;
	} 
	
	.przycisk{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(52,31,67);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:hover{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111); 
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:active{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.25s;
	}
	
	.przycisk:focus{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: #ccc8ff;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	.formularz{
		background-color: rgb(68,40,87); /*Tu również kolor jest jaśniejszy*/
		padding: 4px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
	
		
	.formularz:focus{
		background-color: rgb(85,51,111); /*Tu również kolor jest jaśniejszy*/
		padding: 3px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
	
	.concert-flex{
		display: flex;  
		flex-wrap: wrap; 
		justify-content: flex-end; 
		align-content: space-between;
	}
	
	.w35{
		width: 35%;
	}
}

@media screen and (min-width: 501px) and (max-width: 1001px) {
	body{
	background-image: url("background.svg");
		background-size: cover;
		background-attachment: fixed;
	margin: 0px;
	}
	
    .menu{
        color: #ec008c;
		font-weight: bold;
		font-size: 13px;
		letter-spacing: 6.7px;
		font-family: "Helvetica";
		display: flex; 
		justify-content: space-around;
		align-items: center;
      }
	
		
	.imgtext1{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext2{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext3{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext4{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.img1{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img2{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img3{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img4{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img1:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img2:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img3:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img4:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox1:hover .imgtext1{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox2:hover .imgtext2{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox3:hover .imgtext3{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox4:hover .imgtext4{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.hoverimg{
		transform: scale(1.0);
		transition: all 0.5s;
	}
	.hoverimg:hover{
		transform: scale(1.1);
		transition: all 0.5s;
	}
	
	.side{
		border: none;
		margin: 0px;
		padding: 0px;
		position: fixed;
		padding-top: 10px;
		width: 100%;
		background-color: rgba(37,7,46,0.8);
		bottom: 0;
		z-index:1;
		box-shadow: 0px -5px rgba(236,0,140,0.8);
	}
	
	.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:80%;
	height:60%;
	}
	
	/*Podział na page-1 i page-2 jest dlatego, że niektóre podstrony miały inne tło od innych w poprzednich zadaniach domowych. Na wszelki wypadek zostawiam to tak jak było, żeby można było szybko wrócić do poprzedniego efektu*/
	.page-1{
		/*
		background-image: url("background.svg");
		background-size: cover;
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	 
	.page-2{
		/*
		background: rgb(24,4,33);
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	  
	 h1{
	    color: #ec008c;
		font-size: 28px;
		letter-spacing: 4.5px;
		font-family: "Open Sans";
		text-align: right;
		margin-right: 50px;
		font-weight: bolder;
	 }
	 
	.muzycy{
		height: 20vh; 
		width: 25%; 
		text-align: center; 
		display: flex;  
		flex-wrap: wrap;   
		flex-direction: column; 
		justify-content: center
	}
	
	.svgicon{
		fill: rgb(159,0,101);
		transition: all 0.5s;
	}	
	
	.svgicon:hover{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	
	
	.svgicon:focus{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	 
	
	a:link {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:visited {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:hover {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
		}
	
	a:focus {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
	} 
	
	.bolded {
		color: rgb(204,200,255);
		font-size: 13px;
		font-weight: bold;
	}
	
	.bolded2 {
		color: rgb(204,200,255);
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 4.5px; 
		text-align: left
	}
	
	.text-about{
		color: rgba(204,200,255,0.8);
		font-size: 10px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		width: 30%;
		height: auto;
		border: 20px;
		border-color: rgb(37,7,46);
		margin-left: 35%;
		background: rgba(37,7,46,0.8);
		position: relative;
		bottom: 200px;
		padding: 30px;
	}	
	
	.instruments{
		color: rgba(204,200,255,0.8);
		font-size: 13px;
		letter-spacing: 3px;
		font-family: "Open Sans";
		line-height: 25px;
		text-align: left;
		font-weight: normal;
	}
	.text-concerts{
		color: #ccc8ff;
		font-size: 10px;
		letter-spacing: 2.5px;
		font-family: "Open Sans";
	}	
	
	.text-contact{
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		line-height: 25px;
		font-family: "Open Sans";
	}	
	
	.koncerty{
	
	}
	
	address{
		display: flex;  
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	
	.r25{
		margin-left: 5%;
	}
	
	.r30{
		margin-left: 5%;
	}
	
	.r40{
		margin-left: 5%;
	}
	
	.home{
		position: absolute;
		margin-top: 10%;
		margin-bottom: 10%;
		box-sizing: content-box;
		font-family: "Open Sans";
	}
	
	.pink1{
		box-shadow: 0px -5px #ec008c;
	}
	
	.pink2{
		box-shadow: 0px 5px #ec008c;
	} 
	
	.przycisk{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 10px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(52,31,67);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:hover{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 10px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111); 
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:active{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 10px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.25s;
	}
	
	.przycisk:focus{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 10px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: #ccc8ff;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.formularz{
		background-color: rgb(68,40,87); /*Tu również kolor jest jaśniejszy*/
		padding: 4px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
		
	.formularz:focus{
		background-color: rgb(85,51,111); /*Tu również kolor jest jaśniejszy*/
		padding: 3px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
	
	.concert-flex{
		display: flex;  
		flex-wrap: wrap; 
		justify-content: flex-start; /*Ponieważ w wersji mobilnej strona nie ma marginesu, nie ma potrzeby by koncerty układały się od prawej*/
		align-content: space-between;
	}
	
	.w35{
		width: 50%;
	}
		.mobile-space{
		height: 400px;
	}
}



@media screen and (max-width: 501px) {
	body{
	background-image: url("background.svg");
		background-size: cover;
		background-attachment: fixed;
	margin: 0px;
	}
	
     .menu{
        color: #ec008c;
		font-weight: bold;
		font-size: 13px;
		letter-spacing: 4px;
		font-family: "Helvetica";
		display: flex; 
		justify-content: space-around;
		align-items: center;
      }
	  	
	.imgtext1{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext2{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext3{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.imgtext4{
		opacity: 0;
		transition: all 0.5s;
	}
	
	.img1{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img2{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img3{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img4{
		opacity: 0.5;
		transition: all 0.5s;
	}
	
	.img1:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img2:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img3:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.img4:hover{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox1:hover .imgtext1{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox2:hover .imgtext2{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox3:hover .imgtext3{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.imgbox4:hover .imgtext4{
		opacity: 1;
		transition: all 0.5s;
	}
	
	.hoverimg{
		transform: scale(1.0);
		transition: all 0.5s;
	}
	.hoverimg:hover{
		transform: scale(1.1);
		transition: all 0.5s;
	}
	
	.side{
		border: none;
		margin: 0px;
		padding: 0px;
		position: fixed;
		padding-top: 10px;
		width: 100%;
		background-color: rgba(37,7,46,0.8);
		bottom: 0;
		z-index:1;
		box-shadow: 0px -5px rgba(236,0,140,0.8);
	}
	
	.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:80%;
	height:60%;
	}
	
	/*Podział na page-1 i page-2 jest dlatego, że niektóre podstrony miały inne tło od innych w poprzednich zadaniach domowych. Na wszelki wypadek zostawiam to tak jak było, żeby można było szybko wrócić do poprzedniego efektu*/
	.page-1{
		/*
		background-image: url("background.svg");
		background-size: cover;
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	 
	.page-2{
		/*
		background: rgb(24,4,33);
		*/
		margin: 0px;
		border: 0px;
		width: 100%;
		min-height: 100vh;
		box-sizing: content-box;
	  }
	  
	 h1{
	    color: #ec008c;
		font-size: 20px;
		letter-spacing: 4.5px;
		font-family: "Open Sans";
		text-align: right;
		margin-right: 50px;
		font-weight: bolder;
	 }
	 
	.muzycy{
		height: 20vh; 
		width: 25%; 
		text-align: center; 
		display: flex;  
		flex-wrap: wrap;   
		flex-direction: column; 
		justify-content: center
	}
	
	.svgicon{
		fill: rgb(159,0,101);
		transition: all 0.5s;
	}	
	
	.svgicon:hover{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	
	
	.svgicon:focus{
		fill: rgb(224,0,134);
		transition: all 0.5s;
	}	
	
	a:link {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:visited {
		color: rgb(159,0,101);
		text-decoration: none;
		transition: all 0.5s;
		}

	a:hover {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
		}
	
	a:focus {
		color: rgb(224,0,134);
		text-decoration: none;
		transition: all 0.5s;
	} 
	
	.bolded {
		color: rgb(204,200,255);
		font-size: 9px;
		font-weight: bold;
	}
	
	.bolded2 {
		color: rgb(204,200,255);
		font-size: 9px;
		font-weight: bold;
		letter-spacing: 2px; 
		text-align: left
	}
	
	.text-about{
		color: rgba(204,200,255,0.8);
		font-size: 7px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		width: 50%;
		height: auto;
		border: 20px;
		border-color: rgb(37,7,46);
		margin-left: 35%;
		background: rgba(37,7,46,0.8);
		position: relative;
		bottom: 100px;
		padding: 30px;
	}	
	
	.instruments{
		color: rgba(204,200,255,0.8);
		font-size: 7px;
		letter-spacing: 2px;
		font-family: "Open Sans";
		line-height: 25px;
		text-align: left;
		font-weight: normal;
	}
	.text-concerts{
		color: #ccc8ff;
		font-size: 7px;
		letter-spacing: 2.5px;
		font-family: "Open Sans";
	}	
	
	.text-contact{
		color: #ccc8ff;
		font-size: 7px;
		letter-spacing: 1.2px;
		line-height: 10px;
		font-family: "Open Sans";
	}	
	
	.koncerty{
	
	}
	
	.r25{
		margin-left: 5%;
	}
	
	.r30{
		margin-left: 5%;
	}
	
	.r40{
		margin-left: 5%;
	}
	
	.home{
		position: absolute;
		margin-top: 10%;
		margin-bottom: 10%;
		box-sizing: content-box;
		font-family: "Open Sans";
	}
	
	.pink1{
		box-shadow: 0px -5px #ec008c;
	}
	
	.pink2{
		box-shadow: 0px 5px #ec008c;
	} 
	
	.przycisk{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 7px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(52,31,67);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:hover{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 7px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111); 
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.przycisk:active{
		box-sizing: content-box;
		background-color: rgb(52,31,67); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 7px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: rgb(85,51,111);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.25s;
	}
	
	.przycisk:focus{
		box-sizing: content-box;
		background-color: rgb(85,51,111); /*Zmieniłem kolor bo na nowym tle nie było widać tego przycisku*/
		padding: 5px 16px;
		color: #ccc8ff;
		font-size: 7px;
		letter-spacing: 1.2px;
		font-family: "Open Sans";
		border: 2px solid;
		border-color: #ccc8ff;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.formularz{
		background-color: rgb(68,40,87); /*Tu również kolor jest jaśniejszy*/
		padding: 3px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
	
	.formularz:focus{
		background-color: rgb(85,51,111); /*Tu również kolor jest jaśniejszy*/
		padding: 3px;
		color: #ccc8ff;
		font-size: 13px;
		letter-spacing: 1.5px;
		font-family: "Open Sans";
		border: none;
		border-radius: 4px;
	}
	
	.concert-flex{
		display: flex;  
		flex-wrap: wrap; 
		justify-content: flex-start; /*Ponieważ w wersji mobilnej strona nie ma marginesu, nie ma potrzeby by koncerty układały się od prawej*/
		align-content: space-between;
	}
	
	.w35{
		width: 50%;
	}
	
	.mobile-space{
		height: 350px;
	}
}
